*
{
  margin:0px;
  padding: 0px;
}
body {font-family: Arial;}

.avatar {
    vertical-align: middle;
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
/* Style the tab */
.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
}
/* Style the buttons inside the tab */
.tab button {
    background-color: inherit;
    float: left;
    border: none;
    border-bottom:transparent;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.1s;
    font-size: 17px;
}

/* Change background color of buttons on hover */
.tab button:hover {
  border-bottom: 2px solid blue;
    background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
  border-bottom: 2px solid blue; 
    background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
}
